<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title style="color: black;">Successo!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1 style="color: black;">Secret Santa completato con successo!</h1>
        <p style="color: black;">Email inviate con successo, buon Secret Santa!</p>
        <p style="color: black;">Ricorda di controllare la tua casella di posta, potrebbero trovarsi nella cartella spam.</p>
    </div>
</body>
</html>
